[submodule "homedir/.vim/bundle/Vundle.vim"]
	path = homedir/.vim/bundle/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim.git
[submodule "homedir/.vim/bundle/spacecamp"]
	path = homedir/.vim/bundle/spacecamp
	url = https://github.com/jaredgorski/SpaceCamp.git
