homedir/.vim/bundle/SuperTab/
homedir/.vim/bundle/gundo.vim/
homedir/.vim/bundle/nerdtree/
homedir/.vim/bundle/node.js/
homedir/.vim/bundle/syntastic/
homedir/.vim/bundle/tabular/
homedir/.vim/bundle/typescript-vim/
homedir/.vim/bundle/vim-airline-themes/
homedir/.vim/bundle/vim-airline/
homedir/.vim/bundle/vim-easygrep/
homedir/.vim/bundle/vim-esformatter/
homedir/.vim/bundle/vim-fugitive/
homedir/.vim/bundle/vim-gitgutter/
homedir/.vim/bundle/vim-instant-markdown/
homedir/.vim/bundle/vim-nerdtree-tabs/
homedir/.vim/bundle/vim-pug/
homedir/.vim/bundle/vim-sensible/
homedir/.vim/bundle/vim-sneak/
homedir/.vim/bundle/vim-surround/
oh-my-zsh/
z-zsh/
.DS_Store

